/* Write your CSS here */
.age-container {
  background-color: #1c1c2b;
  border-radius: 5px;
  margin: 10px;
  margin-top: 20px;
  padding: 10px;
}

.age-heading {
  font-family: 'Roboto';
  font-size: 23px;
  color: #cbd5e1;
}
